<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--This section is updated by the AfterBuild MSBuild task-->
  <!--Depending on the configuration the content of projectName.exe.config is fully 
        substituted by the correspondent file from the 'Cfg' directory-->

  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestWeakRef.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestWeakRef.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GeneratedObjectsPerTick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SubscriberType" serializeAs="String">
                <value/>
            </setting>
            <setting name="DumpFinalizers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DumpCallbacks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateHandlersForStaticTarget" serializeAs="String">
                <value>False</value>
            </setting>
        </TestWeakRef.Properties.Settings>
    </userSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
