<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--This section is updated by the AfterBuild MSBuild task-->
  <!--Depending on the configuration the content of projectName.exe.config is fully 
        substituted by the correspondent file from the 'Cfg' directory-->

  <!--This is a sample task-->
  <!--<Target Name="AfterBuild">
        <Delete Files="$(TargetDir)$(TargetFileName).config" />
        <Copy SourceFiles="$(ProjectDir)\Config\App.$(Configuration).config"
              DestinationFiles="$(TargetDir)$(TargetFileName).config" />
    </Target>-->

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PK.TestSerialPortListener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="TestSerialPortListener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <userSettings>
    <PK.TestSerialPortListener.Properties.Settings>
      <setting name="PortSettings" serializeAs="String">
        <value/>
      </setting>
    </PK.TestSerialPortListener.Properties.Settings>
    <TestSerialPortListener.Properties.Settings>
      <setting name="PortSettings" serializeAs="String">
        <value/>
      </setting>
    </TestSerialPortListener.Properties.Settings>
  </userSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
